<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar View</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $(document).on('click', '#prev-month-link, #next-month-link', function(e) {
                e.preventDefault();
                var url = $(this).attr("href");
                console.log("Clicked on link with URL:", url); // 콘솔에 클릭한 링크의 URL 출력
                updateCalendar(url);
            });

            function updateCalendar(url) {
                $.ajax({
                    url: url,
                    success: function(data) {
                        $("#calendar-container").html(data.calendar_html);
                    },
                    error: function(xhr, status, error) {
                        console.error(error);
                    }
                });
            }
        });

    </script>
</head>
<body>
    <h1>Calendar View</h1>

    <div id="calendar-container">
        {{ calendar|safe }}
    </div>

    <p>
        <a href="{% url 'get_previous_month_calendar' %}" id="prev-month-link">&lt;&lt; 이전 달</a> |
        <a href="{% url 'get_next_month_calendar' %}" id="next-month-link">다음 달 &gt;&gt;</a>
    </p>
</body>
</html>
